<main>
  <header class="text-center m-5">
    <h1 class="display-2 pt-3">About <em>The Failure Project</em></h1>
    <h4>Researching failure to create success.</h4>
  </header>

  <section class="container px-5 px-md-0">
    <div class="row px-lg-5 justify-content-center">

      <div class="col-md-4 text-center px-4 mb-5">
        <%= image_tag "Logo.png", class: "raised-photo p-5" %>
      </div> <!-- col -->

      <div class="col-md-8 col-xl-4">
        <p>
          Why is it that incredibly smart, talented people can be completely derailed when they fall short of a goal?
        </p>
        <p>
          What characteristics make some people seemingly immune to these negative effects?
        </p>
        <p>
          How can people be trained or taught to be more "failproof"?
        </p>
        <p>
          <strong>Welcome to <em>The Failure Project</em>.</strong>
        </p>
      </div> <!-- col -->

    </div>  <!-- row -->

    <hr class="mb-3 mt-5">
  </section>


  <section class="container px-5 pb-5 px-md-0">
    <div class="row px-lg-5">

      <div class="col-12 text-center px-4 mt-5 mb-4">
        <h3><em>The Failure Project</em> researches three key things.</h3>
      </div> <!-- col -->

      <div class="col-sm-4 text-center">
        <%= image_tag "Rope.jpg", class: "raised-photo mb-4" %>
        <h4>
          Pre-Failure Characteristics
        </h4>
        <p>
          What qualities, skills, and traits make people "failproof"?
        </p>
        <p>
          What type of people respond best to failure and what pre-existing attributes make people more likely to crack when they encounter a failure?
        </p>
      </div> <!-- col -->

      <div class="col-sm-4 text-center">
        <%= image_tag "Shame.jpg", class: "raised-photo mb-4" %>
        <h4>
          The Failure Experience
        </h4>
        <p>
          How do people think and act when a failure occurs?
        </p>
        <p>
          What factors make people respond well in a crisis situation?  What makes people freeze up or make bad decisions?
        </p>
      </div> <!-- col -->


      <div class="col-sm-4 text-center">
        <%= image_tag "Help.jpg", class: "raised-photo mb-4" %>
        <h4>
          Post-Failure Response
        </h4>
        <p>
          How do people respond after a failure has occurred?
        </p>
        <p>
          What are the productive or adaptive ways of responding to failure?  How can you maximize learning and minimize negative consequences?  How can you prevent future failures from occurring?
        </p>
      </div> <!-- col -->


    </div>  <!-- row -->

  </section>



  <section class="red-stripe py-5">
    <h3 class="text-center">Want to Participate in Failure Research?</h3>
    <div class="floating-box p-5 my-4 color-black text-center">
      <%= render partial: "layouts/participant_signup" %>
    </div>
  </section>





    <section class="container px-5 pb-5 px-md-0 about">
      <div class="row px-lg-5 justify-content-center">

        <div class="col-12 text-center px-4 mt-5 mb-4">
          <h3>About the Founder</h3>
        </div> <!-- col -->

        <div class="col-md-4 text-center px-4 mb-md-5">
          <%= image_tag "Liz.jpg", class: "raised-photo" %>
          <div class="social-media mt-4">
            <ul class="list-inline">
              <li><a href="http://www.lizbayardelle.com/" title="Website" target="_blank"><i class="fas fa-link"></i></a></li>
              <li><a href="https://www.amazon.com/Liz-Bayardelle/e/B08NRHBGWV" title="Author Page" target="_blank"><i class="fas fa-book"></i></a></li>
              <li><a href="https://www.researchgate.net/profile/Elizabeth-Bayardelle-2" title="Research Gate" target="_blank"><i class="fab fa-researchgate"></i></a></li>
              <li><a href="mailto:liz@thefailureproject.org" title="Email" target="_blank"><i class="far fa-envelope"></i></a></li>
              <li><a href="https://www.facebook.com/LizBayardellePhD/" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.instagram.com/lizbayardellephd/" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/in/lizbayardelle/" title="Linked In" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div> <!-- col -->

        <div class="col-md-8">
          <p>
            Fascinated by her own experiences in being completely derailed by failures that were (in hindsight) quite small in magnitude, Dr. Liz Bayardelle began researching failure in college.
          </p>
          <p>
            9 years (and countless failures later) she wrote her doctoral dissertation on the relationship between individual pre-failure characteristics and their relationships to people's response to failure. <em>The Failure Project</em> was born as an extension of that research.
          </p>
          <p>
            Today, her goal for <em>The Failure Project</em> is to map the metaphorical genome of failure, providing an empirically-grounded spectrum of the individual characteristics that determine a person's response to failure, determining how a person can be trained in order to optimize their response to failure, and battling the myth that failure is something to be avoided instead of leveraged for learning.
          </p>
          <p>
            By day, Dr. Bayardelle is an author, speaker, executive, wife, mom of 3, and chief dustbunny wrangler of a happily chaotic household.  When she has time (i.e. never) she enjoys any kind of exercise, Oreos in large quantities, snuggling her children, and occasionally getting to spend more than 5 consecutive minutes with her husband.
          </p>
        </div> <!-- col -->

      </div>  <!-- row -->
    </section>

</main>
