<footer class="nb-footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <div class="about">
          <img src="images/logo.png" class="img-responsive center-block" alt="">
          <p>
            <em>The Failure Project</em> examines the qualities that make people "failproof" so that these skills can be intentionally developed and learned.
          </p>
          <p class="mt-0 pt-0">
            By learning to leverage the small, productive failures, you can increase productivity, heighten goal achievement, and prevent the occurrance of catastrophic or unrecoverable failures from ever occurring.
          </p>
          <div class="social-media">
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/befailproof" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.instagram.com/befailproof/" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://twitter.com/BeFailproof" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="mailto:liz@thefailureproject.org" title="Email" target="_blank"><i class="far fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div> <!-- row -->


      <div class="col-sm-6 col-lg-4">
        <div class="footer-info-single">
          <h2 class="title">Important Information</h2>
          <ul class="list-unstyled">
            <li><%= link_to page_path("failure") do %><i class="fa fa-angle-double-right"></i> About Us<% end %></li>
            <li><%= link_to root_path do %><i class="fa fa-angle-double-right"></i> FAQ<% end %></li>
            <li><%= link_to root_path do %><i class="fa fa-angle-double-right"></i> Get Involved<% end %></li>
            <li><%= link_to root_path do %><i class="fa fa-angle-double-right"></i> Contact Us<% end %></li>
          </ul>
        </div>
      </div> <!-- col -->

      <div class="col-sm-6 col-lg-8">
        <div class="footer-info-single">
          <h2 class="title">Participate in Failure Research</h2>
          <p>A box will go here to recruit people.  Get psyched.</p>
        </div>
      </div> <!-- col -->
    </div> <!-- row -->

  </div> <!-- container -->

  <section class="copyright">
    <div class="container">
      <p><em>Copyright © <%= Date.today.year %> The Failure Project</em></p>
    </div>
  </section>

</footer>
