<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <%= link_to home_index_path do %>
      <%= image_tag "Logo.png", style: "width: 200px" %>
    <% end %>
  </div>
  <div class="list-group list-group-flush">
    <%= link_to "Home", home_index_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Why Study Failure?", page_path("failure"), class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "About <em>The Failure Project</em>".html_safe, page_path("failure"), class: "list-group-item list-group-item-action bg-light" %>
    <a href="#" class="list-group-item list-group-item-action bg-light">The Research</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Failproof Yourself</a>
    <% if !current_user %>
      <%= link_to new_user_registration_path, class: "list-group-item list-group-item-action bg-light" do %>
        Create an Account
      <% end %>
      <%= link_to new_user_session_path, class: "list-group-item list-group-item-action bg-light" do %>
        Login
      <% end %>
    <% else %>
      <%= link_to user_path(current_user), class: "list-group-item list-group-item-action bg-light" do %>
        My Account
      <% end %>
    <% end %>
  </div>
</div>
<!-- /#sidebar-wrapper -->
