<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      The Failure Project
    </title>
    <%= if content_for?(:head) then yield(:head) end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag :application %>
    <%= render "layouts/favicon" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- OG Data -->
    <meta property="og:url" content="http://www.thefailureproject.org" />
    <meta property="og:title" content="The Failure Project" />
    <meta property="og:description" content="Use your failures to create success." />
    <meta property="og:image" content="https://thefailureproject.s3-us-west-1.amazonaws.com/111+-+Site+Images/Simple.jpg" />


  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <%= render 'layouts/sidenav' %>

      <div id="page-content-wrapper">
        <div class="non-footer">
          <%= render 'layouts/notifications' %>
          <%= render 'layouts/navbar' %>
          <%= yield %>
        </div>

        <%= render 'layouts/footer' %>
      </div> <!-- page content wrapper -->

    </div> <!-- wrapper -->

    <!-- Sidenav Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>

  </body>
</html>
